.centerIcon{
  justify-content: center;
}
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
}
.pagination_wrap {
  display: flex;
  justify-content: center;
}
.scrollChart{
  margin: 50px auto;
  max-width: 90vw;
  overflow-y: scroll;
}

.submitButton{
  align-items: flex-end;
  display: flex;

}
